@keyframes hearbeat { /* hearbeat - названия анимации */
    from {
        transform: scale(1); /* scale - это параметр, а именно маштаб  - 1 - соответствует 100%*/
    }
    50% {/* можна ешё промисать промижуточные значения */
        transform: scale(1.1);
    }
    to {
        transform: scale(1); /* этот элемент будет увеличеваться на 1.1 - на 10%  */
    }
}