.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/bg2.png) center (center/cover) no-repeat; /*center - картинка будет строго по центру, (center/cover) - будет растягиваться во всю ширину, no-repeat - не будет она повторяться  */
    &__descr {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
    }
    



}