.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/first_screen/bg.png) center (center/cover) no-repeat;
    @media screen and (max-width: 768px) {
            background: url(../img/first_screen/bg_adap.png) center (center/cover) no-repeat;
    }
    h1, h2 {
        animation-duration: 3s;
        animation-name: slide-in;
    }
        @keyframes slide-in {
            from {
                translate: 150vw 0;
                scale: 200% 1;
            }
    
            to {
                translate: 0 0;
                scale: 100% 1;
            }
        }

    &__wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: rgb(255, 255, 255);
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
    }
    &__subheader {
        margin-top: 17px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 106px;
        text-align: center;
        color: #fff;
        font-family: serif;
        font-family: "Museo Sans Cyrl -500";
        font-size: 14px;
        font-weight: 400;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 500;
            margin-top: 18px;
            a {
                text-transform: uppercase;
                text-decoration: underline;
                color: rgb(255, 255, 255);
            }
    }
}