.title {
    color: rgb(13, 13, 13);
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    &_left {/* создания модификатора*/
        color: #fff;
        font-size: 36px;
        text-align: left;
    }



    



    }